
<ion-content>
  <div class="maincontent">
      
      <div class="logomain">
          <div class="Logohere">
            <br><br>
            <h5>LOGO THIS HERE!</h5>
          </div>
          <div class="HeadText">
            <h1>Login</h1>
          </div>
      </div>


      <div class="LoginForm">

        <div class="input">
          <ion-input id="custom-input" label="Username" label-placement="floating" fill="outline" placeholder="Enter Username"></ion-input>
          <br/>
          <ion-input type="password" label="Password" label-placement="floating" fill="outline" placeholder="Enter Password"></ion-input>
          <br/>
          <div class="remember">
            <ion-checkbox>Rememver Me</ion-checkbox>
          </div>

        </div>
        <br/><br/><br/>
        <div class="btn">
          <ion-button  expand="block">Login</ion-button>
        </div>
        <br/><br/>
        <div class="noaccountregi">
          No Account Register 
        </div>
        
      </div>

     

    
  </div>
</ion-content>
